
# Created by https://www.toptal.com/developers/gitignore/api/vscode,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,ansible

### Ansible ###
*.retry

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode,ansible

# Custom
tests
.secrets
.hatchery
prod.env

# Ansible
machines.ini

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
