[Unit]
Description=Monitor changes at /srv/git

[Service]
Type=oneshot
WorkingDirectory=/etc/gitmonitor
EnvironmentFile=/etc/gitmonitor/.env
ExecStart=/etc/gitmonitor/gitmonitor.bash
SyslogIdentifier=gitmonitor

[Install]
WantedBy=multi-user.target