[Unit]
Description=Check repositories changes at /srv/git every 1m seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=1m

[Install]
WantedBy=timers.target